
<footer id="footer">
    <div class="container desktop">
        <div class="row">
            <div class="col-md-8">
                <p>&copy; 2016 SILVER Development Construction Group Ltd<a href="/privacy-policy">Privacy Policy</a></p>
            </div>
            <div class="col-md-4" style="">
                <div class="fooSocial">
                    <!-- <div class="facebook circle"><a class="fa fa-facebook" href="#" target="_blank"></a></div>-->
                    <div class="linkedIn circle"><a class="fa fa-linkedin" href="https://www.linkedin.com/company/silverdcc" target="_blank"></a></div>
                    <div class="twitter circle"><a class="fa fa-twitter" href="https://twitter.com/silverdcc" target="_blank"></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mobile">
        <div class="row">
            <div class="col-md-12">
                <p><a href="/privacy-policy">Privacy Policy</a></p>



                <div class="fooSocial">
                    <div class="linkedIn circle"><a class="fa fa-linkedin" href="https://www.linkedin.com/company/silverdcc" target="_blank"></a></div>
                    <div class="twitter circle"><a class="fa fa-twitter" href="https://twitter.com/silverdcc" target="_blank"></a></div>
                </div>
                <p>&copy; 2016 SILVER Development Construction Group Ltd.</p>
            </div>
        </div>
    </div>
</footer>