@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="mg-space-init"><br>  <div class="mg-rows row">
      <div class="col-xs-6 col-sm-3 col-lg-3">
          <a href="#" title="MG Row" class="mg-trigger">
          <img class="img-responsive" src="/media/1097/peopleprofile.png" alt=""></a>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-3">
          <a href="#" title="MG Row" class="mg-trigger">
          <img class="img-responsive" src="/media/1097/peopleprofile.png" alt=""></a>
      </div>
      <div class="col-xs-6 col-sm-3 col-lg-3">
          <a href="#" title="MG Row" class="mg-trigger">
          <img class="img-responsive" src="/media/1097/peopleprofile.png" alt=""></a>
      </div>
  </div>
  <div class="mg-targets row">
      <div class="">
          <div class="container">
              <div class="row row-flex">
                  <div class="col-xs-6 col-sm-3 col-lg-3 demo-item">
                      <img src="/media/1097/peopleprofile.png" alt="Content">
                      <span>Lorem ipsum dolor sit amet.</span>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-lg-3 demo-item">
                      <img src="/media/1097/peopleprofile.png" alt="Content">
                      <span>Lorem ipsum dolor sit amet.</span>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-lg-3 demo-item">
                      <img src="/media/1097/peopleprofile.png" alt="Content">
                      <span>Lorem ipsum dolor sit amet.</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="">
          <div class="container">
              <div class="row row-flex">
                  <div class="col-xs-6 col-sm-3 col-lg-3 demo-item">
                      <img src="/media/1097/peopleprofile.png" alt="Content">
                      <span>Lorem ipsum dolor sit amet.</span>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-lg-3 demo-item">
                      <img src="thumb-2.jpg" alt="Content">
                      <span>Lorem ipsum dolor sit amet.</span>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-lg-3 demo-item">
                      <img src="thumb-3.jpg" alt="Content">
                      <span>Lorem ipsum dolor sit amet.</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="">
          <div class="container">
              <div class="row row-flex">
                  <div class="col-xs-6 col-sm-3 col-lg-3 demo-item">
                      <img src="thumb-1.jpg" alt="Content">
                      <span>Lorem ipsum dolor sit amet.</span>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-lg-3 demo-item">
                      <img src="thumb-2.jpg" alt="Content">
                      <span>Lorem ipsum dolor sit amet.</span>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-lg-3 demo-item">
                      <img src="thumb-3.jpg" alt="Content">
                      <span>Lorem ipsum dolor sit amet.</span>
                  </div>
              </div>
          </div>
      </div>
      
  </div>
</div> 			
			
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="/scripts/jquery.mg-space.js"></script>    

    <script>
       $('.mg-space-init').mgSpace();

        
    </script>					  