@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<div id="layertop"></div>
<div class="section services_home">
    <div class="container">
        <div class="col-md-10 col-md-offset-1" style="">
            <div class="col-md-4 col-xs-6 servicesList Aftercare">
                <div class="col-sm-4 col-xs-4 serv_img">
					<a href="/services/aftercare/" title="Aftercare">
						<img src="/media/1004/aftercare.png">
					</a>
				</div>
				<div class="col-sm-8 col-xs-8 serv_title">	
                <h4><a href="/services/aftercare/" title="">Aftercare<br></a></h4></div>
            </div>
            <div class="col-md-4 col-xs-6 servicesList Building Surveying">
                <div class="col-sm-4 col-xs-4 serv_img">
					<a href="/services/building-surveying/" title="Building Surveying">
						<img src="/media/1005/building-surveying.png">
					</a>
				</div>
				<div class="col-sm-8 col-xs-8 serv_title">	
                <h4><a href="/services/building-surveying/" title="">Building Surveying<br></a></h4></div>
            </div>
            <div class="col-md-4 col-xs-6 servicesList Health and Safety">
                <div class="col-sm-4 col-xs-4 serv_img">
					<a href="/services/health-safety/" title="Health and Safety">
						<img src="/media/1011/health-safety.png">
					</a>
				</div>
				<div class="col-sm-8 col-xs-8 serv_title">	
                <h4><a href="/services/health-safety/" title="">Health and Safety<br></a></h4></div>
            </div>
            <div class="col-md-4 col-xs-6 servicesList Cost Consultants">
                <div class="col-sm-4 col-xs-4 serv_img">
					<a href="/services/cost-consultants/" title="Cost Consultants">
						<img src="/media/1006/cost-consultants.png">
					</a>
				</div>
				<div class="col-sm-8 col-xs-8 serv_title">	
                <h4><a href="/services/cost-consultants/" title="">Cost Consultants<br></a></h4></div>
            </div>
            <div class="col-md-4 col-xs-6 servicesList Development Opportunity">
                <div class="col-sm-4 col-xs-4 serv_img">
					<a href="/services/development-opportunities/" title="Development Opportunity">
						<img src="/media/1007/development-opportunities.png">
					</a>
				</div>
				<div class="col-sm-8 col-xs-8 serv_title">	
                <h4><a href="/services/development-opportunities/" title="">Development Opportunity<br></a></h4></div>
            </div>
            <div class="col-md-4 col-xs-6 servicesList Employer's Agent">
                <div class="col-sm-4 col-xs-4 serv_img">
					<a href="/services/employers-agent/" title="Employer's Agent">
						<img src="/media/1008/employers-agent.png">
					</a>
				</div>
				<div class="col-sm-8 col-xs-8 serv_title">	
                <h4><a href="/services/employers-agent/" title="">Employer's Agent<br></a></h4></div>
            </div>
            <div class="col-md-4 col-xs-6 servicesList Energy design &amp; sustainability">
                <div class="col-sm-4 col-xs-4 serv_img">
					<a href="/services/energy-design-sustainability/" title="Energy design &amp; sustainability">
						<img src="/media/1009/energy-design-sustainability.png">
					</a>
				</div>
				<div class="col-sm-8 col-xs-8 serv_title">	
                <h4><a href="/services/energy-design-sustainability/" title="">Energy design &amp; sustainability<br></a></h4></div>
            </div>
            <div class="col-md-4 col-xs-6 servicesList Energy facilities management">
                <div class="col-sm-4 col-xs-4 serv_img">
					<a href="/services/energy-facilities-management/" title="Energy facilities management">
						<img src="/media/1010/energy-facilities-design.png">
					</a>
				</div>
				<div class="col-sm-8 col-xs-8 serv_title">	
                <h4><a href="/services/energy-facilities-management/" title="">Energy facilities management<br></a></h4></div>
            </div>
            <div class="col-md-4 col-xs-6 servicesList Mechanical &amp; Electrical">
                <div class="col-sm-4 col-xs-4 serv_img">
					<a href="/services/mechanical-electrical/" title="Mechanical &amp; Electrical">
						<img src="/media/1012/mechanical-electrical.png">
					</a>
				</div>
				<div class="col-sm-8 col-xs-8 serv_title">	
                <h4><a href="/services/mechanical-electrical/" title="">Mechanical &amp; Electrical<br></a></h4></div>
            </div>
            <div class="col-md-4 col-xs-6 servicesList Party Wall / Licence Matters">
                <div class="col-sm-4 col-xs-4 serv_img">
					<a href="/services/party-wall/" title="Party Wall / Licence Matters">
						<img src="/media/1013/partywall-licence-matters.png">
					</a>
				</div>
				<div class="col-sm-8 col-xs-8 serv_title">	
                <h4><a href="/services/party-wall/" title="">Party Wall / Licence Matters<br></a></h4></div>
            </div>
            <div class="col-md-4 col-xs-6 servicesList Project Management">
                <div class="col-sm-4 col-xs-4 serv_img">
					<a href="/services/project-management/" title="Project Management">
						<img src="/media/1014/project-management.png">
					</a>
				</div>
				<div class="col-sm-8 col-xs-8 serv_title">	
                <h4><a href="/services/project-management/" title="">Project Management<br></a></h4></div>
            </div>
            <div class="col-md-4 col-xs-6 servicesList Quality Management">
                <div class="col-sm-4 col-xs-4 serv_img">
					<a href="/services/quality-management/" title="Quality Management">
						<img src="/media/1015/quality-management.png">
					</a>
				</div>
				<div class="col-sm-8 col-xs-8 serv_title">	
                <h4><a href="/services/quality-management/" title="">Quality Management<br></a></h4></div>
            </div>

                </div>    
    </div>
</div>